/* Dev Bakshi 2023 */


/* background */
body
{
    background-color: #fff;
  margin: 0;
  padding: 0;
}


/*#region scrollbar*/
/* scrollbar */

::-webkit-scrollbar{
    width: 15px;
    margin-top: 50p;
    z-index: 1;
}

::-webkit-scrollbar-track{
    background: #1f1e1ef8;
    
}

::-webkit-scrollbar-thumb{
    background: rgba(244, 18, 86, 0.557);
    border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover{
    background: rgb(97, 18, 18);
    
}

/*#endRegion*/
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */

/*SLIDE SHOW*/
.slider{
    position: relative;
    background-size: cover;
    background-position: center;


    width: auto;
    min-height: 650px;
  
    overflow: hidden;
   
  }
  .slider::before{
    background-image: url('../images/ColorBack.jpg');
    background-size: cover;
  filter: blur(5px);
  
  opacity: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

  }
  
  .slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
  }
  
  .slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    object-fit: fill;
  }
  
  .slider .slide .info{
    position: absolute;
    color: rgb(252, 252, 252);
    background: rgba(215, 7, 76, 0.192);
    backdrop-filter:blur(5px) brightness(1);
    width: 75%;
    margin-top: 100px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
  }
  
  .slider .slide .info h2{
    font-size: 2em;
    font-weight: 800;
  }
  
  .slider .slide .info p{
    font-size: 1em;
    font-weight: 400;
  }
  
  .navigation{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .slider:hover .navigation{
    opacity: 1;
  }
  
  
  .prev-btn, .next-btn{
    z-index: 999;
    font-size: 2em;
    color: rgb(80, 79, 79);
    background: rgba(188, 191, 197, 0.644);
    padding: 10px;
    cursor: pointer;
    
  }
  
  .prev-btn{
    margin-top: 60px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  
  .next-btn{
    margin-top: 60px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .navigation-visibility{
    z-index: 999;
    ;
    display: flex;
    justify-content: center;
  }
  
  .navigation-visibility .slide-icon{
    z-index: 999;
    background: rgba(229, 55, 12, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 10px;
    margin-top: 90px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  
  .navigation-visibility .slide-icon.active{
    background: #2779f5;
  }
  
  @media (max-width: 900px){
    .slider{
      width: 100%;
    }
  
    .slider .slide .info{
      position: relative;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 500px){
    .slider .slide .info h2{
      font-size: 1.8em;
      line-height: 40px;
    }
  
    .slider .slide .info p{
      font-size: 0.9em;
    }
  }



/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */



                            
                            /* SlideShow End*/